.gradle
.settings
.classpath
.project
build
bin
javascript/eagruntime.js
javascript/classes.wasm
javascript/classes.wasm.teadbg
javascript/assets.epk
../docs/ver-wasm/assets.epw
javascript_dist/EaglercraftX_1.8_*
